.container {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(304deg, #cb6892, #9ccdc9, #35c6ac, #e4b1ca);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.login {
  font-family: "Zilla Slab", serif;
  font-size: 15px;
  color: black;
  height: 35px;
  width: 250px;
  margin: 15px;
  border-radius: 1px;
  border: solid black;
  border-width: 0px 0px 1px 0px;
  background-color: transparent;
}

.password {
  font-family: "Zilla Slab", serif;
  font-size: 15px;
  color: black;
  height: 35px;
  width: 250px;
  margin: 15px;
  border-radius: 1px;
  border: 1px;
  border: solid black;
  border-width: 0px 0px 1px 0px;
  background-color: transparent;
}

.button {
  font-family: "Zilla Slab", serif;
  font-size: 20px;
  color: black;
  border: 2px solid transparent;
  border-image: linear-gradient(0deg, #bff5b7e0, #08eecf, #f6054f, #0edde4);
  border-image-slice: 1;
  background-color: white;
  width: 254px;
  height: 40px;
  margin: 15px;
  display: flex;
  text-align: center;
  margin-left: 36.5px;
  justify-content: center;
  cursor: pointer;
}

h2 {
  font-family: "Festive", cursive;
  font-size: 50px;
  margin: 15px;
  margin-left: 100px;
  color: black;
}

.box {
  width: 330px;
  height: 380px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0.5px 1px 7px #090c55;
}

body {
  margin: 0px;
}

p {
  margin-left: 63px;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Times, serif;
  color: gray;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  height: 1px;
  background-image: linear-gradient(304deg, #cb6892, #9ccdc9, #35c6ac, #e4b1ca);
}

.box2 {
  width: 10%;
  float: right;
}

#icon1 {
  width: 30px;
  margin-top: 20px;
  float: right;
  margin-right: 15px;
}

#icon2 {
  width: 25px;
  margin-top: 39px;
  float: right;
  margin-right: 15px;
}

.button:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
  border: transparent;
  border-radius: 10px;
}

.link1:hover {
  transition: 0.5s;
  font-size: 17px;
  color: black;
}

.link2:hover {
  transition: 0.5s;
  font-size: 17px;
  color: black;
}

